<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="tetraDS"/>
  <param name="tf_prefix" value="$(optenv ROS_NAMESPACE)"/> 
  <param name="HOME_ID" value="0" />
  <param name="bumper_behavior" type="bool" value="true" />
  <param name="max_vel_x" type="double" value="0.6" />
  <param name="conveyor_option" type="bool" value="false" />
  <param name="ekf_option" type="bool" value="true" /> <!--false-->
  <arg   name="ekf_option_flag" default="1"/>
  <param name="active_map" type="bool" value="false" />

<group if="$(eval arg('ekf_option_flag')==1)">
<!-- ekf_localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true"> 
    <rosparam command="load" file="$(find tetraDS_2dnav)/config/ekf_localization.yaml" />
  </node>
</group>

  <!-- TETRA description-->
  <arg name="urdf_file" default="$(find xacro)/xacro '--inorder' '$(find tetraDS_description)/urdf/tetraDS/tetraDS.xacro'"/>
  <param name="robot_description" command="$(arg urdf_file)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

 <!-- 2D LiDAR  SICK TIM571-->
  <node name="sick_tim571_2050101" pkg="sick_tim" type="sick_tim551_2050001" respawn="false" output="screen">
      <param name="min_ang" type="double" value="-2.16421" /> <!--124deg-->
      <param name="max_ang" type="double" value="2.16421" />  <!--124deg-->
      <param name="intensity" type="bool" value="True" />
      <param name="skip" type="int" value="0" />
      <param name="frame_id" type="str" value="$(optenv ROS_NAMESPACE)/laser" />
      <param name="time_offset" type="double" value="-0.001" />
      <param name="publish_datagram" type="bool" value="false" />
      <param name="subscribe_datagram" type="bool" value="false" />
      <param name="device_number" type="int" value="0" />
      <param name="range_min" type="double" value="0.05" />
      <param name="range_max" type="double" value="25.0" /> <!--25.0--> 
      <param name="hostname" type="string" value="192.168.0.1" />
      <param name="port" type="string" value="2112" />
      <param name="timelimit" type="int" value="5" />
  </node>

<!--Joystick -->
 <node name = "joy_node" pkg="joy" type="joy_node" />
    <param name='dev' type='string' value='/dev/input/js0'/>
<!-- IMU -->
  <node pkg="iahrs_driver" type="iahrs_driver" name="iahrs_driver" output="screen" />
    <param name="m_bSingle_TF_option" type="bool" value="false" /> <!--true-->

<!--TETRA bringup-->
<node pkg="tetraDS" type="tetraDS" name="tetraDS" output="screen" />
<!--TETRA Power&Sensor Board -->
 <node pkg="tetraDS_interface" type="tetraDS_interface" name="tetraDS_interface" output="screen" />
<!-- TETRA service -->
 <node pkg="tetraDS_service" type="tetraDS_service" name="tetraDS_service" output="screen" />

<!--USB_cam & AR_tag Detection(rear) -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" respawn="true" output="screen" >
    	<param name="video_device" value="/dev/cam_rear" />
    	<param name="image_width" value="640" />
    	<param name="image_height" value="480" />
    	<param name="pixel_format" value="mjpeg" />
    	<param name="camera_frame_id" value="$(optenv ROS_NAMESPACE)/usb_cam" />
    	<param name="io_method" value="mmap"/>
    	<param name="auto_white_balance" value="true"/>
    	<param name="autoexposure" value="true"/>
    	<param name="camera_info_url" value="file:///home/tetra/.ros/camera_info/camera.yaml"/>
    </node>

    <arg name="marker_size"          default="10.0" />
    <arg name="max_new_marker_error" default="0.05" />
    <arg name="max_track_error"      default="0.05" />
    <arg name="max_frequency"        default="30.0" />
    <arg name="cam_image_topic"      default="usb_cam/image_raw" />
    <arg name="cam_info_topic"       default="usb_cam/camera_info" />
    <arg name="output_frame"         default="$(optenv ROS_NAMESPACE)/usb_cam" /> <!--origin $(optenv ROS_NAMESPACE)/usb_cam-->

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
	<param name="marker_size"           type="double" value="$(arg marker_size)" />
	<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
	<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
	<param name="max_frequency"         type="double" value="$(arg max_frequency)" />
	<param name="output_frame"          type="string" value="$(arg output_frame)" />
	<remap from="camera_image"          to="$(arg cam_image_topic)" />
	<remap from="camera_info"           to="$(arg cam_info_topic)" />
    </node>

<!--realsense_Point Cloud data -->
  <include file = "$(find realsense2_camera)/launch/rs_pointcloud_r.launch"/>
  <include file = "$(find tetraDS_2dnav)/launch/timed_rgbd.launch"/>
  <include file="$(find tetraDS_2dnav)/launch/DepthimageToScan.launch"/>

</launch>



